.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgb(189, 137, 137);
    top: 0;
}

.b-none {
    border: none !important;
}

.fouse-input:focus {
    border: 3px solid brown !important;
}
.control-form {
    height: 430px;
    display: flex;
    overflow: hidden;
}
.control {
    transition: all 0.3s ease;
    gap: 31px;
}
.control input, .control select {
    border: 1px solid black;
}