.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgb(189, 137, 137);
    top: 0;
}

.b-none {
    border: none !important;
}

.fouse-input:focus {
    border: 3px solid brown !important;
}