.top {
    margin-bottom: 100px;
}
.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border: none;
    width: 24% !important;
}
.card .img {
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.img img {
    height: 400px;
    width: auto;
}
.top-card {
    justify-content: space-between;
}