.account {
    margin-top: 50px;
}

.cover {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.cover img {
    width: 100%;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    width: 100%;
    height: 30px;
    background-color: rgb(246, 250, 253);
}

.profile-card {
    position: absolute;
    height: 450px;
    width: 300px;
    top: 200px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.177);
}

.img-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.profile {
    width: 120px;
}

.edit-bio {
    width: 100%;
    height: 30px;
    border: 2px solid rgb(214, 170, 10);
    background-color: rgba(216, 195, 40, 0.196);
}

.bio-icon {
    background-color: transparent;
    border: none;
    color: rgb(255, 196, 0);
}

.card {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.078);
}

.head {
    position: relative;
}

.sub-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.sub-profile img {
    width: 60px;
}

.text {
    margin-left: 10px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position-i {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 25px;
}

.body-img {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.body-img img {
    width: 100%;
    border-radius: 20px;
}

.footer-card {
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.204);
    justify-content: space-between;
}

.preview-photo {
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    min-height: 200px;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-photo img {
    width: 100%;
}




















/* From Uiverse.io by ZstarPanda0210 */
.cardss {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    animation: dcard 2s forwards;
}

.dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
}

.dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
}

.header {
    padding: 1.25rem 1rem 1rem 1rem;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #c5fadc;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
}

.image svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
}

.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.actions {
    margin: 0.75rem 1rem;
}

.history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.09);
    }
}

@keyframes dcard {
    0% {
        transform: rotateY(90deg) translate(-50%, -50%);
    }
    20% {
        transform: rotateY(0deg) translate(-50%, -50%);
    }
    90% {
        transform: rotateY(0deg) translate(-50%, -50%);
    }
    100% {
        transform: rotateY(90deg) scale(0) translate(-50%, -50%);
    }
}